html{
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 124px 0;
    overflow: hidden;
}

.box{
    background-color: hsl(0, 0%, 100%);
    width: 22vw;
    border-radius: 10px;
    margin-bottom: 160px;
}

img{
    width: 20vw;
    height: 20vw;
    padding: 1vw 1vw 0 1vw;
    border-radius: 7.5%;
}
.l1{
    
    font-weight: 700;
    font-size: 1.25rem;
    padding: 0 1vw 0 1vw;
}
.l2{
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    padding: 0 1vw;
}

.attribution a { color: hsl(228, 45%, 44%); }


